@import "_variables.scss";

body {
  color: white;
  background-color: $blue1;
  margin: 0;
  text-align: center;
  font-family: $main-font;
}

.container {
  position: relative;
}

.title {
  background: linear-gradient(45deg, #050129, #030265);
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
  @media screen and (max-width: 400px) {
    font-size: 40px;
  }
  span {
    color: $blue1;
  }
}

.Collapsible__trigger {
  background: linear-gradient(45deg, #ef4f03, #ca1d01);
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  padding: 5px 0;
  display: block;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    font-size: 26px;
  }
}

.info {
  padding: 30px 30px 10px;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    font-size: 18px;
  }
}

.tick {
  color: $green1;
}

.cross {
  color: $red1;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal {
  position: fixed;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-container {
  width: 90%;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  background: $blue3;
  padding: 15px;
  border-radius: 15px;
}

.modal-link {
  padding: 20px;
  margin: 10px;
  background: $blue1;
  border-radius: 15px;
}

.copy {
  background: $green1;
  font-weight: 600;
  font-size: 22px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: none;
}

.close {
  position: absolute;
  top: 5px;
  right: 0px;
  color: white;
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 22px;
}

.share {
  background: orangered;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  margin: 10px 0;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
