html {
  color: white;
  background-color: #0fafaf;
}

body {
  margin: 0;
}

.title {
  background-color: #141440;
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
}

.title span {
  color: #119a9a;
}

.App {
  text-align: center;
  font-family: "Poppins";
}

.group-stage {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group {
  min-width: 300px;
  background-color: #119a9a;
  width: 25%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}

.group h2 {
  margin: 0px 0 10px 0;
}

.group-team-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  background: #058288;
  border-radius: 10px;
}

.group-team {
  display: flex;
}

.group-team div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.knockout-stage {
  text-align: center;
  width: 25%;
  background: #ececec;
  padding-bottom: 50px;
  border-left: 0.5px dashed #888;
}
@media (max-width: 1000px) {
  .knockout-stage {
    width: 100%;
    background: initial;
    padding-bottom: 10px;
  }
}
.knockout-stage:nth-of-type(1) {
  border-left: none;
}
.knockout-stage:nth-of-type(4) {
  border-left: none;
}
@media (max-width: 1000px) {
  .knockout-stage:nth-of-type(4) {
    padding-bottom: 50px;
  }
}
.knockout-stage:nth-of-type(2n) {
  background: #f3f3f3;
}
@media (max-width: 1000px) {
  .knockout-stage:nth-of-type(2n) {
    background: initial;
  }
}
.knockout-stage h2 {
  font-size: 26px;
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  padding: 20px 0 10px;
}
@media (max-width: 1000px) {
  .knockout-stage h2 {
    font-size: 32px;
  }
}

.knockout-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .knockout-container {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .knockout-container {
    width: 90%;
  }
}

.knockout-round-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.knockout-round-container:nth-of-type(4) {
  justify-content: center;
}
@media (max-width: 1000px) {
  .knockout-round-container {
    height: auto;
    width: auto;
    margin: initial;
  }
}

.knockout-match {
  position: relative;
  background: #eee;
  padding: 5px 10px;
  margin: 10px 5px;
  text-align: center;
  z-index: 2;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px 3px #aaa;
}

.knockout-team {
  background: #ddd;
  padding: 4px;
  margin: 5px 0;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.knockout-team-name {
  margin-left: 10px;
}

.knockout-selector {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .knockout-team {
    cursor: initial;
  }
}
.knockout-team:hover .hover-info-container {
  opacity: 1;
  display: block;
}
@media (max-width: 1000px) {
  .knockout-team:hover .hover-info-container {
    opacity: 0;
    display: none;
  }
}
.knockout-team > div {
  display: flex;
  justify-content: space-between;
}
.knockout-team > div:first-child {
  min-height: 30px;
}
.knockout-team .knockout-scorers {
  display: none;
  font-size: 13px;
  text-align: left;
}
@media (max-width: 1000px) {
  .knockout-team .knockout-scorers {
    display: block;
  }
}
.knockout-team .knockout-scorers > div {
  padding: 3px 7px;
}

.bracket-team::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 13%;
  left: -13%;
  top: 50%;
  border-top: 3px solid #444;
}
@media (max-width: 1000px) {
  .bracket-team::before {
    display: none;
  }
}

.bracket-team::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  right: -10px;
  border-color: #444;
  border-width: 3px;
}
@media (max-width: 1000px) {
  .bracket-team::after {
    display: none;
  }
}

.bracket-team:nth-of-type(odd):after {
  height: 100%;
  top: 50%;
  border-right-style: solid;
  border-top-style: solid;
}

.container {
  max-width: 1250px;
  display: flex;
  margin: 0 auto;
}

.bracket-team:nth-of-type(even):after {
  height: 100%;
  top: -50%;
  border-right-style: solid;
  border-bottom-style: solid;
}

.bracket-1 .bracket-team:before {
  display: none;
}

.bracket-2 .bracket-team:nth-of-type(odd):after {
  height: 200%;
  top: 50%;
}

.bracket-2 .bracket-team:nth-of-type(even):after {
  height: 200%;
  top: -150%;
}

.bracket-3 .bracket-team:nth-of-type(odd):after {
  height: 350%;
  top: 50%;
}

.bracket-3 .bracket-team:nth-of-type(even):after {
  height: 350%;
  top: -300%;
}

.bracket-4 {
  justify-content: center;
}
.bracket-4 .bracket-team:after {
  display: none;
}

.third-place-team {
  display: flex;
}
