$blue1: #0fafaf;
$blue2: #119a9a;
$blue3: #058288;

body {
  color: white;
  background-color: $blue1;
  margin: 0;
}

.title {
  background: linear-gradient(45deg, #050129, #030265);
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
  @media screen and (max-width: 400px) {
    font-size: 40px;
  }
}

.Collapsible__trigger {
  background: linear-gradient(45deg, #ef4f03, #ca1d01);
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  padding: 5px 0;
  display: block;
  @media screen and (max-width: 400px) {
    font-size: 26px;
  }
}

.title span {
  color: $blue2;
}

.App {
  text-align: center;
  font-family: "Poppins";
}

.group-stage {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  padding: 30px 30px 10px;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    font-size: 18px;
  }
}

.group {
  min-width: 300px;
  background-color: $blue2;
  width: 25%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}

.group h2 {
  margin: 0px 0 20px 0;
  text-transform: capitalize;
}

.group-team-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  background: $blue3;
  border-radius: 10px;
  cursor: pointer;
}

.group-team {
  display: flex;
}

.group-team div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.group-position {
  display: flex;
  align-items: center;
  font-weight: 700;
  .out {
    color: #ce0d0d;
  }
}

.third-place-league {
  background: $blue2;
  padding: 20px;
  border-radius: 15px;
  min-width: 300px;
  width: 30%;
  margin: 20px auto;
}

.third-place-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $blue3;
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.third-place-team {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.third-place-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #02b7b7;
  border-radius: 50%;
}

.tick {
  color: #208620;
}

.cross {
  color: #bd0b0b;
}

.knockout-stage {
  text-align: center;
  width: 25%;
  padding-bottom: 50px;
  @media (max-width: 1200px) {
    width: 100%;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0 10px;
    margin: 0;
  }
}

.knockout-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}

.knockout-round-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    height: auto;
    width: auto;
    margin: initial;
  }
}

.knockout-round-container:nth-of-type(4) {
  justify-content: center;
}

.knockout-match {
  position: relative;
  background: $blue2;
  padding: 5px 10px;
  margin: 10px 5px;
  min-height: 120px;
  text-align: center;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px rgb(0, 238, 255);
  border-radius: 15px;
}

.knockout-team {
  background: $blue3;
  padding: 10px;
  margin: 5px 0;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-weight: 500;
}

.knockout-team-name {
  display: flex;
  justify-content: space-between;
  > div {
    margin-left: 10px;
  }
}

.knockout-selector {
  width: 30px;
  height: 30px;
  background-color: #0fafaf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .knockout-team {
    cursor: initial;
  }
}
.knockout-team:hover .hover-info-container {
  opacity: 1;
  display: block;
}

.bracket-team::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 13%;
  left: -12.5%;
  top: 50%;
  border-top: 3px solid rgb(3, 63, 78);
}
@media (max-width: 1200px) {
  .bracket-team::before {
    display: none;
  }
}

.bracket-team::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  right: -10px;
  border-color: rgb(3, 63, 78);
  border-width: 3px;
}
@media (max-width: 1200px) {
  .bracket-team::after {
    display: none;
  }
}

.bracket-team:nth-of-type(odd):after {
  height: 100%;
  top: 50%;
  border-right-style: solid;
  border-top-style: solid;
}

.container {
  max-width: 1250px;
  display: flex;
  margin: 0 auto;
}

.bracket-team:nth-of-type(even):after {
  height: 100%;
  top: -50%;
  border-right-style: solid;
  border-bottom-style: solid;
}

.bracket-1 .bracket-team:before {
  display: none;
}

.bracket-2 .bracket-team:nth-of-type(odd):after {
  height: 200%;
  top: 50%;
}

.bracket-2 .bracket-team:nth-of-type(even):after {
  height: 200%;
  top: -150%;
}

.bracket-3 .bracket-team:nth-of-type(odd):after {
  height: 350%;
  top: 50%;
}

.bracket-3 .bracket-team:nth-of-type(even):after {
  height: 350%;
  top: -300%;
}

.bracket-4 {
  justify-content: center;
}
.bracket-4 .bracket-team:after {
  display: none;
}
